<div class="container">
    <h1 class="text-center"> <code>Bem-vindo à nossa loja!</code> </h1>

<body>

<div class="container purple-background">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicadores de slide -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Slides de carrossel -->
        <div class="carousel-inner img">
            <div class="carousel-item active">
                <img src="https://scontent.cdninstagram.com/v/t39.30808-6/352211196_6281350908622496_3285449374226342676_n.png?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=g2HDrZ_0yYQAX9-yWQd&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfBp8Kff5_7CuUzy_6ZjedVhQs1ZNxxEomqm0lEWMWmHEw&oe=6520ECFB&_nc_sid=10d13b" alt="Anel" class="w-50">
                <div class="carousel-caption">
                    <h3>Anel </h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://scontent.cdninstagram.com/v/t39.30808-6/352193287_164118966483256_4387891813762742403_n.png?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent.cdninstagram.com&_nc_cat=104&_nc_ohc=_H1fAkSTSSsAX8CnHVQ&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfAOMrnWuWukR6UQmCPnRwwRREwJ80ktaS0vIehrmJSzqg&oe=65215C07&_nc_sid=10d13b" alt="Conjunto venenosa" class="d-block w-50">
                <div class="carousel-caption">
                    <h3>Conjunto venenosa </h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://scontent.cdninstagram.com/v/t39.30808-6/367124763_778701434261533_5921207437292382605_n.jpg?stp=dst-jpg_e15_p640x640&_nc_ht=scontent.cdninstagram.com&_nc_cat=101&_nc_ohc=Gf8Vjd6LiGwAX8QqIcY&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfBANVQMtBKrjW88zOTvnPXtjnf7-f0aJZfMRZ0zFa6_iQ&oe=652241FC&_nc_sid=10d13b" alt="Conjunto Arco-iris" class="d-block w-50">
                <div class="carousel-caption">
                    <h3>Conjuto Arco-iris </h3>
                </div>
            </div>
        </div>

        <!-- Controles de slide -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</div>  
  <div class="row mt-4">
        <div class="col-md-8 offset-md-2 text-center">
            <a href="/vitrine" class="btn btn-outline purple-background text-white ">Ir às Compras</a>
        </div>
    </div>

</body>
</div>
