<body>
    <div class="detalhe-produto">
    
      <div class="container">
        <h2 class="mt-5">Comprar do Produto</h2>
        <div class="card">
          <div class="card-body">
            <img src="https://scontent.cdninstagram.com/v/t39.30808-6/367124763_778701434261533_5921207437292382605_n.jpg?stp=dst-jpg_e15_p640x640&_nc_ht=scontent.cdninstagram.com&_nc_cat=101&_nc_ohc=Gf8Vjd6LiGwAX8QqIcY&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfBANVQMtBKrjW88zOTvnPXtjnf7-f0aJZfMRZ0zFa6_iQ&oe=652241FC&_nc_sid=10d13b" 
            alt="Imagem choker_pulseira" class="img-thumbnail" width="50%">
            <h5 class="card-title">Conjunto Arco-iris </h5>
            <p class="card-text">Conjunto de uma linda pulseira colorida e uma bela choker para combinar </p>
            <p class="card-text">Preço: R$ 40,00</p>
          </div>
          <a routerLink="/cesta" class="btn purple-background">Adicionar à Cesta de Compras</a>
        </div>
      </div>
    </div>
    </body>
    
    