<div class="login">
  <div class="container">
    <h2 class="mt-5">Login</h2>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button><br><br>
      <button routerLink="/reenvio-senha" class="btn btn-primary">Esqueci minha senha</button>
    </form><br>
  

  </div>
  