<div class="pesquisa">
  <div class="container">
    <h2 class="mt-5">Pesquisa de Produtos</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Digite o nome do produto">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Pesquisar</button>
      </div>
    </div>
    <button routerLink="/vitrine" class="btn btn-primary">Voltar para a Vitrine</button>
    <!-- Exiba os resultados da pesquisa aqui -->
  </div>
      
      <!-- Exiba os resultados da pesquisa aqui -->

    
  </div>
  