<div class="container">
<h4>Busca por: anel</h4>
<div class="row">
<div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/352211196_6281350908622496_3285449374226342676_n.png?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=g2HDrZ_0yYQAX9-yWQd&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfBp8Kff5_7CuUzy_6ZjedVhQs1ZNxxEomqm0lEWMWmHEw&oe=6520ECFB&_nc_sid=10d13b"
          alt="Imagem anel" class="img-thumbnail" width="60%">
        <h5 class="card-title">Anel</h5>
        <p class="card-text">Preço: R$ 10,00</p>
        <a href="/anel" class="btn purple-background">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/352193287_164118966483256_4387891813762742403_n.png?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent.cdninstagram.com&_nc_cat=104&_nc_ohc=_H1fAkSTSSsAX8CnHVQ&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfAOMrnWuWukR6UQmCPnRwwRREwJ80ktaS0vIehrmJSzqg&oe=65215C07&_nc_sid=10d13b"
          alt="Imagem argola_anel" class="img-thumbnail" width="60%">
        <h5 class="card-title">Conjunto venenosa</h5>
        <p class="card-text">Preço: R$ 15,00</p>
        <a href="/argola_anel" class="btn purple-background">Comprar</a>
      </div>
    </div>
  </div>
</div>
</div>