<body>
<div class="detalhe-produto">

  <div class="container">
    <h2 class="mt-5">Comprar do Produto</h2>
    <div class="card">
      <div class="card-body">
        <img src="https://static.saopaulomania.com.br/produtos/camisa-sao-paulo-i-2324-sn-torcedor-adidas-masculina/24/FB8-4703-024/FB8-4703-024_zoom3.jpg?ts=1678390856" 
        alt="Imagem do Produto 1" class="img-thumbnail" width="20%">
        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1861e95568fd47a3a654ae1d0116af5e_9366/Camisa_1_Sao_Paulo_FC_22_Branco_HA8417_21_model.jpg" 
        alt="Imagem do Produto 1" class="img-thumbnail" width="20%">
        <h5 class="card-title">Produto 1</h5>
        <p class="card-text">Camisa 1 SPFC 21/22</p>
        <p class="card-text">Preço: R$ 100,00</p>
      </div>
      <a routerLink="/cesta" class="btn btn-primary">Adicionar à Cesta de Compras</a>
    </div>
  </div>
</div>
