<body>
  <div class="vitrine">
    <div class="container">
      <h2 class="mt-5">Vitrine de Produtos</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img
                src="https://scontent.cdninstagram.com/v/t39.30808-6/366283542_778706817594328_5789933557281439096_n.jpg?stp=dst-jpg_e15_p640x640&_nc_ht=scontent.cdninstagram.com&_nc_cat=104&_nc_ohc=5bXziiI3o1oAX_Ov56R&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfDbmkbOZQ9tPPXV4ENd-F8LaCepOtlhPE3r14ORa2vkOQ&oe=65213FC8&_nc_sid=10d13b"
                alt="Imagem Caneta" class="img-thumbnail" width="60%">
              <h5 class="card-title">Caneta de resina <span class="badge bg-info">New</span></h5>
              <p class="card-text">Preço: R$ 20,00</p>
              <a routerLink="/caneta" class="btn purple-background">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img
                src="https://scontent.cdninstagram.com/v/t39.30808-6/367124763_778701434261533_5921207437292382605_n.jpg?stp=dst-jpg_e15_p640x640&_nc_ht=scontent.cdninstagram.com&_nc_cat=101&_nc_ohc=Gf8Vjd6LiGwAX8QqIcY&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfBANVQMtBKrjW88zOTvnPXtjnf7-f0aJZfMRZ0zFa6_iQ&oe=652241FC&_nc_sid=10d13b"
                alt="Imagem choker_pulseira" class="img-thumbnail" width="60%">
              <h5 class="card-title">Conjunto Arco-iris <span class="badge bg-info">New</span></h5>
              <p class="card-text">Preço: R$ 40,00</p>
              <a href="/choker_pulseira" class="btn purple-background">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img
                src="https://scontent.cdninstagram.com/v/t39.30808-6/352211196_6281350908622496_3285449374226342676_n.png?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=g2HDrZ_0yYQAX9-yWQd&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfBp8Kff5_7CuUzy_6ZjedVhQs1ZNxxEomqm0lEWMWmHEw&oe=6520ECFB&_nc_sid=10d13b"
                alt="Imagem anel" class="img-thumbnail" width="60%">
              <h5 class="card-title">Anel <span class="badge bg-info">New</span></h5>
              <p class="card-text">Preço: R$ 10,00</p>
              <a href="/anel" class="btn purple-background">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img
                src="https://scontent.cdninstagram.com/v/t39.30808-6/352236362_3400744090192171_2493492430282114931_n.png?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent.cdninstagram.com&_nc_cat=107&_nc_ohc=3EIP8uZUZsIAX81chN3&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfAQ88tup0RndWtcsLreQHeh4irgEoancggm39-sgr2BiA&oe=6520A570&_nc_sid=10d13b"
                alt="Imagem Pandora" class="img-thumbnail" width="60%">
              <h5 class="card-title">Pandora de coração <span class="badge bg-info">New</span></h5>
              <p class="card-text">Preço: R$ 35,00</p>
              <a href="/pandora" class="btn purple-background">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img
                src="https://scontent.cdninstagram.com/v/t39.30808-6/352193287_164118966483256_4387891813762742403_n.png?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent.cdninstagram.com&_nc_cat=104&_nc_ohc=_H1fAkSTSSsAX8CnHVQ&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfAOMrnWuWukR6UQmCPnRwwRREwJ80ktaS0vIehrmJSzqg&oe=65215C07&_nc_sid=10d13b"
                alt="Imagem argola_anel" class="img-thumbnail" width="60%">
              <h5 class="card-title">Conjunto venenosa <span class="badge bg-info">New</span></h5>
              <p class="card-text">Preço: R$ 15,00</p>
              <a href="/argola_anel" class="btn purple-background">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img
                src="https://scontent.cdninstagram.com/v/t39.30808-6/367487995_778695677595442_7045060137831768706_n.jpg?stp=dst-jpg_e15_p640x640&_nc_ht=scontent.cdninstagram.com&_nc_cat=110&_nc_ohc=qx4NOv_OBPYAX_e6KzN&edm=APs17CUAAAAA&ccb=7-5&oh=00_AfCwjMN3ZkRcoqxdF5rbD9-o1T0qwVXdg-zHQqKgK1P1XA&oe=65226989&_nc_sid=10d13b"
                alt="Imagem anel_choker" class="img-thumbnail" width="60%">
              <h5 class="card-title">Conjunto joias da noite <span class="badge bg-info">New</span></h5>
              <p class="card-text">Preço: R$ 25,00</p>
              <a href="/conjunto_anel_choker" class="btn purple-background">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>