<body>
<div class="vitrine">
    <h2>Vitrine de Produtos</h2>
    <div class="container">
      <h2 class="mt-5">Vitrine de Produtos</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img src="https://static.saopaulomania.com.br/produtos/camisa-sao-paulo-i-2324-sn-torcedor-adidas-masculina/24/FB8-4703-024/FB8-4703-024_zoom3.jpg?ts=1678390856" alt="Imagem do Produto 1" class="img-thumbnail" width="60%">
              <h5 class="card-title">Produto 1</h5>
              <p class="card-text">Preço: R$ 100,00</p>
              <a href="produto/1" class="btn btn-primary">Detalhes</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4"> -->
          <!-- <div class="card">
            <div class="card-body">
              <img src="https://images.tcdn.com.br/img/img_prod/875844/bermuda_sao_paulo_spr_heavy_wiley_24040097_1_42af21b8dd5e22660a17e882c21d2fad.jpg" alt="Imagem do Produto 1" class="img-thumbnail" width="60%">
              <h5 class="card-title">Produto 2</h5>
              <p class="card-text">Preço: R$ 75,00</p>
              <a href="/produto/1" class="btn btn-primary">Detalhes</a> -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>