<div class="reenvio-senha">
  <div class="container">
    <h2 class="mt-5">Reenvio de Senha</h2>
    <p>Insira seu endereço de email abaixo para reenviar sua senha:</p>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Reenviar Senha</button>
    </form><br>
    <button routerLink="/login" class="btn btn-primary">Voltar para o Login</button>

  </div>
</div>